body {
    font-family: sans-serif;
    background: #242424;
    color: #AAA;
}

code {
    background: #3F3F3F;
    padding: 2px 4px;
    border-radius: 4px;
    line-height: 1.8em;
}

code.codeblock {
    white-space: pre-wrap;
    display: block;
    line-height: initial;
}

.title {
    text-align: center;
}

.github-link {
    text-align: center;
    text-decoration: none;
    color: #019AFD;
    font-weight: bolder;
    display: block;
    margin-top: 20px;
}

.content-container {
    max-width: 700px;
    width: 80%;
    margin: auto;
}

.description {
    margin-bottom: 10px;
}

.block {
    padding: 15px;
    border: 3px solid #666;
    margin: 20px 0;
}

.scrubber .bar {
    top: 50%;
}

.scrubber.labelled .bar, .scrubber.labelled.hover .bar {
    height: 40px;
}

.scrubber.labelled .bar::before {
    position: absolute;
    bottom: -40px;
    font-size: 16px;
    right: 10%;
    height: 50px;
    padding-right: 6px;
    content: '.bar';
    border-right: 2px solid #666;
    line-height: 0.8;
    display: flex;
    align-items: flex-end;
}

.scrubber.labelled .bar__thumb {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.scrubber.labelled .bar::after {
    position: absolute;
    bottom: -40px;
    font-size: 16px;
    right: 60%;
    height: 50px;
    padding-right: 6px;
    content: '.bar__thumb';
    border-right: 2px solid #666;
    line-height: 0.8;
    display: flex;
    align-items: flex-end;
}

.scrubber.labelled .bar__buffer::before {
    position: absolute;
    bottom: -40px;
    font-size: 16px;
    right: 10%;
    height: 50px;
    padding-right: 6px;
    content: '.bar__buffer';
    border-right: 2px solid #666;
    line-height: 0.8;
    display: flex;
    align-items: flex-end;
}

.scrubber.labelled .bar__progress::before {
    position: absolute;
    bottom: -40px;
    font-size: 16px;
    right: 50%;
    height: 50px;
    padding-right: 6px;
    content: '.bar__progress';
    border-right: 2px solid #666;
    line-height: 0.8;
    display: flex;
    align-items: flex-end;
}

.data {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
}

.scrubber .bar__marker.type-1 {
    background: #ED269D;
}

.scrubber .bar__marker.type-2 {
    background: #004A09;
}
